:root {
    --default_background-col: #2C2F35;
    --background-col1: #191A1D;
    --background-col2: #3F434C;
    --background-col3: #36383F;
    --text-color: #FFF;
    --light-text-color: #DDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Text Styles */

.bold {
    font-weight: bold;
    font-size: 1.5em;

    color: var(--text-color);
}

.light-text {
    color: var(--light-text-color);
}

/* Common Hiders */

body .desktop-hidden {
    display: none;
}

.small-mobile-visible {
    display: none;
}


/* Common Flexbox Styles */
.justify-end {
    justify-self: flex-end;
}

.auto-gap-top {
    margin-top: auto;
}

@media screen and (max-width: 748px) {
    /* Common Hiders */
    body .desktop-hidden {
        display: initial;
    }

    .mobile-hidden {
        display: none!important;
    }
}

@media screen and (max-width: 500px) {
    /* Common Hiders */
    .small-mobile-visible {
        display: initial;
    }

    body .small-mobile-hidden {
        display: none;
    }

}