.nav-bar {
    height: 5em;
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: sticky;
    top:0;
    z-index: 100;

    color: white;
    background-color: rgb(30 31 38);
    
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,.2);
}

.logo {
    filter: invert(1);
    
    height: 100%;
}

.logo-wrapper {
    height: 2.5em;
    aspect-ratio: 138/26;
    margin: 1em 1em 1em 1.5em;

}


.left-wrapper, .right-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
}

/* Main links */
.nav-bar .main-links {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1em;
}

.nav-bar .main-links li {
    list-style: none;
}

.nav-bar .main-links li a {
    color:white;
    text-decoration: none;
    font-size: 1.25em;
}

/* Buttons */

a.btn {
    color:white;
    text-decoration: none;
    font-size: 1.25em;

    display: block;
    padding: 0.5em 0.75em;
    height: 75%;

    color: black!important;
    background-color: rgb(209, 209, 209);
    border-radius: 3px;

    transition: 0.25s all ease-in-out;
}

a.btn:hover {
    opacity: 0.8;
}

a.btn.btn-green{
    background-color: rgb(10, 196, 101);
}

a.btn.btn-dark {
    background-color: rgb(109, 109, 109);
}

/* Hamburger Dropdown */
.hamburger-dropdown {
    margin: 1em;
    font-size: 2em;
}

#hamburger-dropdown-contents-wrapper {

    width: 100%;

    background-color: rgba(30 31 38);
}

.hamburger-dropdown-header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger-dropdown-contents {
    display: flex;
    /*display: None;*/
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    line-height: 2em;
    
    height: 100%;


    transition: all 0.25s ease-in-out;
}

.hamburger-dropdown-contents > li {
    list-style: none;
    width: max-content;
}

.hamburger-dropdown-contents > li > a{
    color: white;
}
.hamburger-dropdown-contents > li > :not(.spark) {
    font-weight: bold;
}


.hamburger-dropdown-contents > .justify-end + .justify-end + .justify-end + .justify-end {
    margin-bottom: 8em;
}

@media screen and (max-width: 748px) {
    .logo-wrapper {
        aspect-ratio: 1;
        
    }
    #hamburger-dropdown-contents-wrapper {
        position: fixed;
        top: 5em;
        right: -0%;
        z-index: 75;

        max-width: 300px;
        height: 100vh;
        overflow: hidden;

        
        transition: all 0.25s ease-in-out;
    }

    .hamburger-dropdown-contents {


        display: flex;
        /*display: None;*/
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 2em;

        margin-top: 10px;
        margin-left: 3em;

    }
}