.nav-bar {
    height: 5em;
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top:0;

    color: white;
    background-color: rgb(30 31 38);
    
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,.2);
}

.logo {
    filter: invert(1);
}

.logo-wrapper {
    aspect-ratio: 1;
    margin: 1em 1em 1em 1.5em;
}